<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Acquire</string>
	<key>CFBundleIdentifier</key>
	<string>com.nwaite.Acquire</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>NWAQ</string>
	<key>CFBundleVersion</key>
	<string>0.9.9</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUExpectsDSASignatureKey</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://nolanw.ca/acquire/appcast.xml</string>
	<key>SUPublicDSAKey</key>
	<string>-----BEGIN PUBLIC KEY-----
	MIIDOjCCAi0GByqGSM44BAEwggIgAoIBAQCoBV0xlTY0it5BuZYRc80XRZNXuARE
	+0+q8CVcPSjzag0JcUNxcCge0hpwRVyaKtdnFDzC/RzlopBOTSgNnWLcE93ZdBeH
	FC4wFtElIwg7xrkR9IWlnJ5wEgg7ExB+Zz3pn/G/wQF4HAP09jIVITznKywbiDGG
	xjgSTZOvB9A/ZLUUOcKsaO0jLRvNX/0I0ZHe8P//GeoKjYzjduFmiqHfsUqClHpB
	/a7Anvd8iw6wPklT3pBljcHPDgDuZo5r58K462XNjZkmy0S5w6czHJMqiD1+Ruhm
	2ZvX6bowPox2VIAaaFfGa0IOHoPQBpBe5q8u5dbyjZIQvv0tRzSoWy1DAhUAzHIn
	YeJqZrG3/mRCpqm4U+ebEv0CggEAECSajQelv6g2EPYOtB2f0kLKXTDw9hPGeZ7C
	DCg5r5XrEK038vnk2JO3YYkX/xjED20pOvN8Wp/LEt0BaD/ZAfJES8RCWOQ61SI3
	yQi73sDxyAkDL3Z5MX6QqGMPOOqbfG9linV0NLW6FcxLGn0tUClrtASYzR54YVlB
	iOwtq5C35nhJY2Y3hiYkb4exZzNa/p/dWNCJLBYLxFcVkMZc+Ks3CP2uEw2b9DyP
	lWDwQUdhkXkKiHK9nOKXtyuYq3c9f69KQs/YR7t2ZUbmucRYpfiDzLbbWn9OHJQd
	2xumAXv5UjgKXsZA1/FW5R1Mcyyzl16W/ttRfqNtHVecJVW0NQOCAQUAAoIBABqw
	56pkwOkoCk2BeVpYmJ895e6zRW1fFaqXIM32IN70q8cJsXkCtcydUELD2rL2IAnC
	m8cFfgviAmpJ6qW+KsAvJN3u4HTvjPydYwhYPGz0oGZpmM60WYW1qTks2lXHiXes
	TLSECoJti3QbDI8cJr1nZTwJi9mxMFuIGsIcJTrPEJB7O17/EXWAFgbugQn/zCpp
	gOxL5bYNFnPnaeRCE/fp4VMu2QUV0AAnbjhnKj83b3pcWHtyn8JzrqLh3ta/Pmyc
	mqX9UgKt9rMvZg3Oo7MBYXDyQB3Gx2TpjkEBI9cGMu3S015PIoQlr53qFdLTGyZ7
	Ue5GAk51xI/vqBcfcAE=
	-----END PUBLIC KEY-----
</string>
</dict>
</plist>
